#header {
    height: 75px;
    background-color: #74b49b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    margin-left: 18px;
    letter-spacing: 2px;
    font-size: 3rem;
    cursor: pointer;
    color: #000080;
}
.logIn-container {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin-right: 10px;
}
.sign-in {
    font-size: 20px;
    margin: auto 0;
    cursor: pointer;
    background: none;
    border: none;
    color: whitesmoke;
}
.sign-up {
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 8px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    color: whitesmoke;
}
.sign-in:hover {
    border-bottom: 1px solid purple;
    color: purple;
}
.sign-up:hover {
    background-color: aliceblue;
    box-shadow: 1px 2px 3px purple;
}